<footer class="footer">
  <div class="container">
    <span class="text-muted">
      <a href="https://github.com/BogdanLivadariu/junit-reporting-handlebars">
        junit-reporting-handlebars: {{#latest-lib}}{{/latest-lib}}
      </a>
      <p>Page generated at: {{#now}}{{/now}}</p>
    </span>
  </div>
</footer>