<ul class="nav nav-tabs">
  <li role="presentation">
    <a href="#" onClick="window.location.assign(window.location.href.split('rspec-reports-with-handlebars')[0]);">
      Go back!
    </a>
  </li>
  <li id="allFeatures" role="presentation" class="">
    <a href="testSuitesOverview.html">View all test reports</a>
  </li>
  <li id="passedFeatures" role="presentation" class="">
    <a href="testsPassed.html">View passed tests</a>
  </li>
  <li id="failedFeatures" role="presentation" class="">
    <a href="testsFailed.html">View failed tests</a>
  </li>
  <li id="summaryFeature" role="presentation" class="">
    <a href="#">Test Case report: </a>
  </li>
</ul>
